[Checkerboard_Contrast]
#Checkerboard contrast parameters
checkerboard_columns = 4 #18 #
checkerboard_rows = 4 #28  
checker_width = 63 #10 
checker_height = 63 #10 
contrast_threshold = 100
rotation_angle = 0 #28.5 
checkerboard_ROI_area_ratio = 0.50   #roi at 50% area
save_image = "True"

[Luminance_Rolloff]
freqLB = [0.03,0.125]       
freqMB = [0.1, 0.5]     
freqHB = [0.4,10]           

[Color_Uniformity_1]
rotation_angle = 0 #65
freqLB = [0.03,0.125]          #mid_freq_range = [0.5,0.1]
freqMB = [0.1, 0.5]       #high_freq_range = [10,0.4]
freqHB = [0.4,10]      #veryhigh_freq_range = [15,8]

[Color_Uniformity_2]
rotation_angle = 0  
freqLB = [0.03,0.125]           
freqMB = [0.1, 0.5]        
freqHB = [0.4,10]       

[White_Point_Error]
ref_white = "D65"

[Ghost]
Ghost_CropRect = [484, 474, 487, 156] #[484, 474, 487, 156] # crop rect x,y,w,h for ghost analysis based on left, right image will be mirrored
Source_Size = 30  # in pixel on sensor
save_image = "True"

#Tiyani yang parameters for ghost analysis
#Ghost_CropRect = [0, 0, 90, 90]
#Source_Size = 50  # in pixel on sensor
#save_image = "True"

[Pupil_Swim]
checkerboard_columns = 84 #31
checkerboard_rows = 64 #30
checker_width = 12 #28.6
checker_height = 12 #25.6
CheckerDensity = 1.33 #of checker / fov deg in horz
MaxPupilSwimVectorFilter = 2
save_image = "True"

[get_FOV]
lum_threshold = 0.1
target_hFOV = 42
target_vFOV = 32 
save_image = "True"

[Color_Gamut]
save_image = "True"

[Distortion]
grid_columns = 19
grid_rows = 19

[Masks]
save_image = "True"
rotation_angle = 0 #65
target_hFOV = 42
target_vFOV = 32
zoneA_FOV = 25
zoneB_v1 = 5
zoneB_v2 = 10
zoneB_v3 = 10
zoneB_v4 = 5
zoneB_h1 = 10
zoneB_h2 = 5
zoneB_h3 = 5
zoneB_h4 = 10

[Gamma]
save_image = "True"
roi_area_percentage = 0.5

[Angular_Resolution]
FWHM_threshold = 0.5

[Color_Difference]
save_image = "True"

[Pupil_Efficiency]
transmission_ratio = 0.06

[Exit_pupil]
rotation_angle = -19.5
x_window = [717, 980] #beginning and end of the Mylar window in x-direction
y_window = [884, 1121] #beginning and end of the Mylar window in y-direction
origin = [1253, 891] #cooridnates [x,y] of the origin datum
datum = [698, 606] #coordinates [x,y] of the other axis-defining datum
radius = 42 #radius of the datum circle shape
pixel_size = 10.848 #microns

[Masks_DSA]
save_image = "True"
rotation_angle = 0 #65
target_hFOV = 16
target_vFOV = 8
zoneA_FOV = 6.25
zoneB_v1 = 1.25
zoneB_v2 = 2.5
zoneB_v3 = 2.5
zoneB_v4 = 1.25
zoneB_h1 = 3.8
zoneB_h2 = 1.9
zoneB_h3 = 1.9
zoneB_h4 = 3.8

[Checkerboard_Contrast_DSA]
#Checkerboard contrast parameters
checkerboard_columns = 7 #18 #
checkerboard_rows = 7 #28  
checker_width = 28 #10 
checker_height = 28 #10 
contrast_threshold = 100
rotation_angle = 0 #28.5 
checkerboard_ROI_area_ratio = 0.8   #roi at 50% area
save_image = "True"