[IQT1]
#Station parameters
focal_length = 30 #mm
pixel_size = 0.0055 #mm
binning = 4 
vFoV = 42 #For fov mask generation with fov_zones
hFoV = 32 #For fov mask generation with fov_zones
zoneA_params = [10, "circle", 0, 0] #For fov mask generation with fov_zones
zoneB_params = [25, "circle", 0, 0] #For fov mask generation with fov_zones
zoneC_params = [4, "corner", 0, 0] #For fov mask generation with fov_zones
checkerboard_contrast_cal = {"R":156.7, "G":154.1, "B":151.1, "W":154.00}

[Sunny_IQT]
#Station parameters
focal_length = -16.51 #mm
pixel_size = 0.00376 #mm
binning = 1 
vFoV = 42 #For fov mask generation with fov_zones
hFoV = 32 #For fov mask generation with fov_zones
checkerboard_contrast_cal = {"R":156.7, "G":154.1, "B":151.1, "W":154.00}

[IQT2]
#Station parameters
focal_length = 22.9 #mm
pixel_size = 0.0055 #mm
binning = 4 
vFoV = 42 #For fov mask generation with fov_zones
hFoV = 32 #For fov mask generation with fov_zones
pupil_width=2.8 #mm, full side width
pupil_height=2.5 #mm, full side height

[DSA]
focal_length = 1.73 #mm
pixel_size = 0.0022 #mm
binning = 1 
checkerboard_contrast_cal = {"R":1000000, "G":1000000, "B":1000000, "W":1000000} #No checker contrast cal provided

[MTF]
focal_length = 35 #mm
pixel_size = 0.00274 #mm
binning = 1


[Other_Station]